[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[diff "sopsdiffer"]
	textconv = sops -d
[url "https://sepior+atato-0:ZCa6PrhGiA_773tZpy7o@gitlab.com"]
	insteadOf = https://gitlab.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[includeIf "gitdir:~/atato-workspace/"]
    path = .gitconfig-atato
[url "https://emm-atato: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@github.com"]
	insteadOf = https://github.com
